html {
	height: 100%;
}
body {
	padding-top: 6rem;
	height: 100%;
	margin: 0;
	font-family: "Inter", sans-serif;
	font-weight: lighter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
	background-color: lightblue;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2em;
	font-size: 2rem;
}

footer {
	display: flex;
	gap: 1em;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: lightblue;
	min-height: 4rem;
	margin-top: auto;
}

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
}
.upper-part {
	display: flex;
}
.input {
	padding: 0.75em;
	font-size: 1.2rem;
	border: 1px solid gray;
	flex: 1;
	border-right: 0;
}
.add-button {
	flex: 0.3;
	padding: 0.75em;
	font-size: 1.2rem;
	border: 1px solid gray;
	background-color: rgb(200, 247, 223);
	color: black;
	border-left: 0;
	cursor: pointer;
}
.bottom-part {
	margin-top: 2em;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	padding: 1em 2em;
}
.task {
	display: flex;
	border-top: 1px lightgray solid;
	border-bottom: 1px lightgray solid;
	padding: 0.5em 0;
}
.task-info {
	flex: 1;
	word-break: break-all;
	margin-right: 1em;
}
.delete-button {
	flex: 0.3;
	padding: 0.55em;
	font-size: 1rem;
	border: 1px solid gray;
	background-color: rgb(247, 210, 200);
	color: black;
	cursor: pointer;
}
button {
	transition: box-shadow 0.3s ease;
}
button:hover {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.errored {
	background-color: rgb(244, 168, 168);
	border: red solid 2px;
	font-weight: 500;
	padding: 1em;
	margin-bottom: 2em;
}

.social {
	width: 2rem;
	transition: transform 0.3s ease;
}
.social:hover {
	transform: translate(0, 2px);
}
.deleted-task {
	background-color: rgb(244, 244, 244);
}
.deleted-button {
	background-color: lightgray;
}
.all-tasks {
	max-height: 3rem;
}
@media (max-width: 680px) {
	.container {
		width: 90%;
	}
}
