body {
	padding-top: 6rem;
	font-family: "Inter", sans-serif;
	font-weight: lighter;
	display: flex;
	justify-content: center;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightblue;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2em;
	font-size: 2rem;
}

.container {
	display: flex;
	width: 50%;
	flex-direction: column;
}
.upper-part {
	display: flex;
}
.input {
	padding: 0.75em;
	font-size: 1.2rem;
	border: 1px solid gray;
	flex: 1;
	border-right: 0;
}
.add-button {
	flex: 0.3;
	padding: 0.75em;
	font-size: 1.2rem;
	border: 1px solid gray;
	background-color: rgb(200, 247, 223);
	color: black;
	border-left: 0;
	cursor: pointer;
}
.bottom-part {
	margin-top: 2em;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	padding: 1em 2em;
}
.task {
	display: flex;
	border-top: 1px lightgray solid;
	border-bottom: 1px lightgray solid;
	padding: 0.5em 0;
}
.task-info {
	flex: 1;
}
.delete-button {
	flex: 0.3;
	padding: 0.55em;
	font-size: 1rem;
	border: 1px solid gray;
	background-color: rgb(247, 210, 200);
	color: black;
	cursor: pointer;
}

.errored {
	background-color: rgb(244, 168, 168);
	border: red solid 2px;
	font-weight: 500;
	padding: 1em;
	margin-bottom: 2em;
}

@media (max-width: 680px) {
	.container {
		width: 90%;
	}
}
